@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&family=Roboto+Mono:ital,wght@1,300&family=Sedgwick+Ave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&family=Sedgwick+Ave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Raleway:ital,wght@1,300&family=Roboto+Mono:ital,wght@1,300&family=Sedgwick+Ave&display=swap');
article{
    display:grid;
    grid-template-columns: 1fr 0.5in [start] 1.25in 5in 1.25in [end] 0.5in 1fr;
    height: 100vh; /* temp fix */
    padding: 0.5in 0;
    
}
article *{
    grid-column: start/end;
}

.artic{
    display:flex;
    justify-content: center;
    align-items: center;
}

figcaption{
    display:flex;
    justify-content: center;
    margin: 0.25em;
}

/* styling our elements */


h2, p          {margin-bottom: 2.4rem;}
h1             {font: 700 2.0rem/1.2 "Roboto"; color: hsl(000, 0%, 33%); }
h2             {font: 400 1.5rem/1.2 "Roboto"; color: hsl(000, 0%, 33%); }
h3             {font: 700 1.0rem/1.2 "Roboto"; color: hsl(250, 100%, 67%); }
time           {font: 700 1.0rem/1.2 "Roboto"; color: hsl(250, 100%, 83%); }
p              {font: 400 1.0rem/1.5 "Roboto"; color: hsl(000, 0%, 33%); }
figcaption p   {font: 400 1.0rem/1.5 "Roboto"; color: hsl(000, 0%, 83%); }

/*adding dropshadows to the link text*/
a{
    box-shadow: inset 0 -0.20em  hsl(55, 100%, 75%); 
}


/* media query for mobile devices and smaller screens*/
@media(max-width:8.5in){
    article{grid-template-columns: 1fr 5% [start] 15% 60% 15% [end] 5% 1fr;}
}

@media(max-width: 8.5in){
    :root{font-size: 18px;}
}
@media(max-width: 5in){
    :root{font-size: 16px;}
}


/*-#NGE{
    background-image: url(images/Webback.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}*/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

u{
    color:solid black;
}

blockquote{
    padding-bottom:15px;
    margin-top:-10px;
}

.reiName{
    color: rgb(204,204,255);
    text-shadow: 1px 1px #000000;
    font-family: 'Architects Daughter', cursive;
}

.shinName{
    color: rgb(204,204,255);
    text-shadow: 1px 1px #000000;
    font-family: 'Architects Daughter', cursive;
}